/* Aplicando a fonte Poppins */
body, .stApp, h1, input, textarea, .stButton>button, .stTextInput>div>label, .stCheckbox>label {
    font-family: 'Poppins', sans-serif;
}

/* Fundo escuro com gradiente sutil */
body, .stApp {
    background: linear-gradient(135deg, #2F2F2F, #3B3B3B); /* cinza chumbo */
    color: #ffffff;
}

/* Estilo do título */
h1 {
    font-size: 2.5rem;
    color: #ff69b4; /* Rosa */
    text-align: center;
    text-shadow: 2px 2px #8b008b; /* Sombra em um tom mais escuro de rosa */
    font-weight: 600; /* Título em peso mais forte */
}

/* Sidebar estilizada */
div[data-testid="stSidebar"] {
    background: #2F2F2F; /* Cinza chumbo */
    padding: 20px;
    color: #ffffff;
}

/* Texto principal com a fonte Poppins */
.css-17eq0hr {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

/* Botões animados em rosa com efeito hover verde limão */
.stButton>button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.stButton>button:hover {
    background-color: #32CD32; /* Verde limão */
    color: #000; /* Preto para contraste */
}

/* Linha divisória com efeito de gradiente rosa */
.line {
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #ff69b4, #8b008b);
    border-radius: 5px;
    margin: 20px 0;
    animation: move 2s infinite linear;
}

@keyframes move {
    from {background-position: 0;}
    to {background-position: 100%;}
}

/* Estilização das mensagens de feedback */
.stAlert .st-bx {
    font-size: 18px;
    font-weight: bold;
    color: #32CD32; /* Verde limão */
    animation: pop 0.5s ease;
}

@keyframes pop {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

/* Inputs personalizados com borda rosa */
input, textarea {
    border: 2px solid #ff69b4; /* Rosa */
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    background-color: #333333; /* Cinza bem escuro */
}

/* Títulos dos campos e dicas com tom verde limão */
.stTextInput>div>label {
    font-size: 18px;
    color: #32CD32; /* Verde limão */
}

/* Checkbox com cor de texto branca */
.stCheckbox>label {
    font-size: 16px;
    color: #ffffff;
}

/* Campo de Perguntas e Respostas para reality show */
textarea, .stTextArea>div>textarea {
    border: 3px dashed #ff69b4; /* Borda rosa */
    font-size: 16px;
    color: #ffffff;
    background-color: #3B3B3B; /* Fundo em cinza escuro */
}
